@using SSB31Prev2.Data
@using SSB31Prev2.Pages
@{
  ViewData["Title"] = "Constructor Error Component";
}
<base href="~/" />

<div class="text-center">


  <h1 class="display-4">Constructor Error Component</h1>
  <p>Fails silently, no Blazor gold bar shown</p>
  <br />

  @(await Html.RenderComponentAsync<ConstructorErrorComponent>(RenderMode.Server))

</div>
