@page "/constructorerror"
@using SSB31Prev2.Data

@inject ConstructorErrorService ConstructorErrorService

<h1>Constructor Error Component</h1>



@code {

  protected override void OnInitialized()
  {
    base.OnInitialized();


  }

}
